<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528321520726-3a3st3ulqiihjormcfm29mcura51lius.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528321520726-3a3st3ulqiihjormcfm29mcura51lius</string>
	<key>API_KEY</key>
	<string>AIzaSyCOU3Jx4gOD3m3aSz7oxpaFjNEFryjBgo0</string>
	<key>GCM_SENDER_ID</key>
	<string>528321520726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osamaazmatkhan.WeatherMate</string>
	<key>PROJECT_ID</key>
	<string>weathermate-cbdad</string>
	<key>STORAGE_BUCKET</key>
	<string>weathermate-cbdad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528321520726:ios:f9bda4d04bce3bfffec7f7</string>
</dict>
</plist>